*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
display: flex;
flex-direction: column;
width: 60vw;
min-height: 100vh;

}

section{
    background-color: aqua;
    height: 100px;
    width: 100%;
}

#primera-parte{
    height: 30vh;
    background-color: #ffffff;
}

#segunda-parte{
    height: 30vh;
    background-color: #c4edf1;
}

#tercera-parte{
    height: 40vh;
    background-color: #ffffff;

    display: flex;
    flex-direction: row;
}

.contenido-tercera-parte{
    width: 33vw;

    display: flex;
    flex-direction: column;
}

.cuadrado-tercera-parte{
    
}