*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
display: flex;
flex-direction: column;
width: 50%;
min-height: 100%;

}

section{
    background-color: aqua;
    height: 100%;
    width: 100%;
}



#primera-parte{
    height: 30vh;
    background-color: #ffffff;
}

#titulo-principal{
    width: 60%;
    height: 50px;

    background-color: #ff9877;

    position: relative;
    margin: 62px auto;

    display: flex;
    align-items: center;
}


#texto-titulo-principal{
    width: 75%;
    height: 12px;
    background-color: white;

    margin-left: 24px;
}

#cuadrado-titulo-principal{
    width: 50px;
    height: 50px;
    background-color: #656a73;

    margin-left: auto;
}

#textos-inicio{
    display: flex;
    justify-content:space-evenly;
    align-items: center;

    width: 100%;
    margin-top: -27px;
}

.texto-inicio{
    width: 15%;
    height: 12px;
    background-color: #cfcfcf;
}




#segunda-parte{
    height: 30vh;
    background-color: #c4edf1;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8vw;

}

#cuadrado-medio{
    height: 150px;
    width: 150px;
    background-color: #91d3d9;

    display: flex;
    flex-direction: column;
    align-items: center;

    
    padding-top: 25px;
}

.info-cuadrado-medio{
    display: flex;
    flex-direction: row;

    margin-bottom: 20px;
}

.cuadrado-info-medio{
    width: 12px;
    height: 12px;

    background-color: #d5f3f5;

}

.texto-info-medio{
    width: 90px;
    height:12px;

    background-color: white;

    margin-left: 10px;

}

.texto-medio{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.titulo-texto-medio{
    width: 350px;
    height: 30px;

    background-color: #656a73;

    margin-left: -50px;
    margin-bottom: 20px;
}

.contenido-texto-medio{
    width: 350px;
    height: 6px;

    background-color: white;

    margin-left: -50px;
    margin-bottom: 10px;
}

.contenido-texto-medio-corto{
    width: 250px;
    height: 6px;

    background-color: white;

    margin-left: -50px;
    margin-bottom: 50px;
}




#tercera-parte{
    height: 40vh;
    background-color: #ffffff;

    display: flex;
    flex-direction: row;

    padding: 10px;
}

.contenido-tercera-parte{
    width: 33vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cuadrado-tercera-parte{
    height: 22vh;
    aspect-ratio: 1/1;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#cuadrado1-tercera-parte{
    background-color: #ff9978;
}

#cuadrado2-tercera-parte{
    background-color: #abe0e5;
}

#cuadrado3-tercera-parte{
    background-color: #ffc86d;
}

.titulo-cuadrado-tercera-parte{
    height: 16px;
    width: 90px;

    
    margin-left: 10px;  
    margin-right: 10px;
    margin-top: 22px;
    margin-bottom: 10px;

    background-color: #ed6d47;
}

.info-cuadrado-tercera-parte{
    width: 90px;
    height: 5px;

    background-color: white;

    margin-bottom: 10px;
}

.info-cuadrado-tercera-parte-corto{
    width: 60px;
    height: 5px;

    background-color: white;
}

.titulo-texto-abajo-tercera-parte{
    width: 133px;
    height: 7px;

    background-color: #656a73;

    margin-top: 20px;

}

.info-texto-abajo-tercera-parte{
    width: 133px;
    height: 7px;

    background-color: #cfcfcf;

    margin-top: 15px;
}

.info-texto-abajo-tercera-parte-corto{
    width: 100px;
    height: 7px;

    background-color: #cfcfcf;

    margin-top: 15px;
}
